In [5]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [6]:
# Read files
albumin_df = pd.read_csv('albumin.txt', sep='|')
creatinine_df = pd.read_csv('creatinine.txt', sep='|')

height_df = pd.read_csv('height.txt', sep='|')
hypertension_df = pd.read_csv('hypertension.txt', sep='|')
weight_df = pd.read_csv('weight.txt', sep='|')

print(albumin_df.info(), '\n')
print(creatinine_df.info(), '\n')
print(height_df.info(), '\n')
print(weight_df.info(), '\n')
print(hypertension_df.info(), '\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6225 entries, 0 to 6224
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   RESULT            6225 non-null   object
 1   CEX_RES_SECUENCE  6225 non-null   int64
 2   TYPE_DOC          6225 non-null   object
 3   PAT_ID            6225 non-null   int64
 4   DATE              6225 non-null   object
 5   FORM_NUMBER       6225 non-null   int64
dtypes: int64(3), object(3)
memory usage: 291.9+ KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197693 entries, 0 to 197692
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   RESULT       197592 non-null  object
 1   TYPE_DOC     197693 non-null  object
 2   PAT_ID       197693 non-null  object
 3   DATE         197693 non-null  object
 4   FORM_NUMBER  197693 non-null  int64
dtypes: int64(1), object(4)
memory usage: 7.5+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 709481 entries, 0 to 709480
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   PAT_ID      709481 non-null  object
 1   TYPE_DOC    709481 non-null  object
 2   CORRETALLA  709481 non-null  int64
 3   ENCUTALLA   709481 non-null  int64
 4   DATE        709481 non-null  object
 5   HEIGHT      709481 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 32.5+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744192 entries, 0 to 744191
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PAT_ID          744192 non-null  object
 1   TYPE_DOC        744192 non-null  object
 2   CORRE_PESO      744192 non-null  int64
 3   ENCUENTRO_PESO  744192 non-null  int64
 4   DATE            744192 non-null  object
 5   WEIGHT          744192 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 34.1+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 819955 entries, 0 to 819954
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   PAT_ID              819955 non-null  object
 1   TYPE_DOC            819955 non-null  object
 2   MTV_CORRELATION     819955 non-null  int64
 3   TABENCUENTRO        819955 non-null  int64
 4   DATE                819955 non-null  object
 5   SYSTOLIC_PRESSURE   819955 non-null  int64
 6   DIASTOLIC_PRESSURE  819955 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 43.8+ MB
None

In [7]:
# open hemoglobin file, replace ',' with '.'
f = open('glycosylated_hemoglobin.txt','r')
filedata = f.read()
f.close()
newdata = filedata.replace(",",".")

# Create new file, read df from new file
f = open('hemoglobin.txt','w')
f.write(newdata)
f.close()

# Read hemoglobin to df
hemoglobin_df = pd.read_csv('hemoglobin.txt', sep='|')
hemoglobin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125905 entries, 0 to 125904
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   RESULT            125896 non-null  object
 1   CEX_RES_SECUENCE  125905 non-null  int64
 2   TYPE_DOC          125905 non-null  object
 3   PAT_ID            125905 non-null  object
 4   DATE              125905 non-null  object
 5   FORM_NUMBER       125905 non-null  int64
dtypes: int64(2), object(4)
memory usage: 5.8+ MB

In [59]:
# Remove null values from hemoglobin
hemoglobin_df = hemoglobin_df[hemoglobin_df['RESULT'].notna()]
# Extract digits from string in RESULT (output is list)
hemoglobin_df['result'] = hemoglobin_df['RESULT'].apply(lambda x: re.findall(r"[-+]?(?:\d*\.\d+|\d+)", x))
# Get rid of empty lists
hemoglobin_df = hemoglobin_df[hemoglobin_df["result"].str.len() != 0]
# Get rid of list and keep number
hemoglobin_df['result'] = hemoglobin_df['result'].apply(lambda x: x[0])
# Convert string to float
hemoglobin_df['result'] = hemoglobin_df['result'].astype(float)
hemoglobin_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125857 entries, 0 to 125904
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   RESULT            125857 non-null  object
 1   CEX_RES_SECUENCE  125857 non-null  int64
 2   TYPE_DOC          125857 non-null  object
 3   PAT_ID            125857 non-null  object
 4   DATE              125857 non-null  object
 5   FORM_NUMBER       125857 non-null  int64
 6   result            125857 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 7.7+ MB